/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--main-font-weight);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-block-size: 368px;
  margin-block-end: 98px;
  border: 2px solid #000;
  background-color: #fff;
  text-align: center;
  margin-top: 98px;
}

.header__logo {
  margin-block-end: 20px;
  font-family: var(--accent-font);
  font-size: 65px;
  line-height: 1;
  font-size: clamp(3rem, 2.5rem + 2vw, 4.0625rem);
}

.header__title {
  font-family: var(--accent-font);
  font-size: 23px;
  line-height: 1;
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.75rem + 0.8vw, 1.4375rem);
}

.content-section {
  width: var(--content-width);
  margin-inline: auto;
}

.card {
  margin-block-end: 52px;
  border: 2px solid #000;
  background-color: #fff;
}

.card__title {
  padding: 4px 10px;
  font-size: 18px;
  line-height: 1.2;
  font-variation-settings: 'wght' var(--title-font-weight);
}

.card__image-wrapper {
  position: relative;
  border-block: 2px solid #000;
}

.card__image {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.card__label {
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  font-family: var(--accent-font);
  font-size: 14px;
  opacity: var(--label-opacity);
  mix-blend-mode: hard-light;
  text-shadow:
    1px 0 var(--label-stroke-color),
    -1px 0 var(--label-stroke-color),
    0 1px var(--label-stroke-color),
    0 -1px var(--label-stroke-color);
}

@supports ((-webkit-text-stroke: 1px var(--label-stroke-color)) or (text-stroke: 1px var(--label-stroke-color))) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--label-stroke-color);
    text-stroke: 1px var(--label-stroke-color);
  }
}

.card__content {
  padding: 25px;
}

.card__text {
  margin-bottom: 25px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--main-font-weight);
}

.card__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.button {
  position: relative;
  overflow: hidden;
  min-block-size: 38px;
  padding: 20.5px 20px;
  border: 2px solid #000;
  background-color: #fff;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  background-color: #000;
  transform: scaleX(1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 #000;
}

.card__icon-button {
  align-items: center;
  width: 38px;
  height: 36px;
  padding: 0;
  border: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.card__like-button {
  padding: 0px;
  width: 130px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__text {
  position: relative;
  z-index: 1;
  color: #fff;
  mix-blend-mode: difference;
}

.like-icon {
  display: block;
  width: 39px;
  height: 36px;
}

.dialog {
  display: none;
  width: 353px;
  padding: 30px;
  border: 2px solid #000;
  background-color: #fff;
}

.dialog[open] {
  display: block;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__content {
  display: grid;
  grid-template-columns: 39px 1fr;
  gap: 20px;
  align-items: center;
}

.dialog-icon {
  width: 39px;
  height: 39px;
  z-index: 1;
  position: relative;
  color: #000;
}

.dialog__text {
  margin: 0;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__button {
  grid-column: 1 / -1;
  width: 100%;
  text-transform: uppercase;
}

.image-brightness {
  filter: brightness(120%);
}

.image-sepia {
  filter: sepia(0.8);
}

.image-grayscale {
  filter: grayscale(1);
}

.image-school {
  filter: contrast(180%);
}

.image-saturate {
  filter: saturate(180%);
}

.image-blur {
  filter: blur(2px);
}

.image-hue-rotate {
  filter: hue-rotate(90deg);
}

.image-contrast-brightness-saturate {
  filter: contrast(130%) brightness(110%) saturate(150%);
}

.save-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-inline: auto;
  margin-bottom: 100px;
  height: 55px;
}

.save-button__icon {
  width: 21px;
  height: 21px;
  z-index: 1;
  position: relative;
  color: #fff;
  mix-blend-mode: difference;
}

.is-liked .like-icon .core,
.is-liked .like-icon .main-body {
  fill: #000;
}

.is-liked .like-icon .contour {
  fill: #000;
}

@media (width <= 375px) {
  .page {
    padding-block: 100px;
  }

  .header {
    min-block-size: 327px;
    padding: 16px;
    margin-block-end: 100px;
  }

  .header__title {
    font-size: 14px;
  }

  .card {
    margin-block-end: 50px;
  }

  .card__title {
    padding: 4px 10px;
  }

  .card__content {
    padding: 25px;
  }

  .card__buttons {
    gap: 10px;
  }

  .button {
    padding: 8px 12px;
    font-size: 14px;
  }

  .save-button {
    width: 100%;
    max-width: 306px;
    height: 84px;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    margin-inline: auto;
    gap: 8px;
    box-sizing: border-box;
  }

  .save-button__icon {
    width: 28px; 
    height: 28px; 
  }
}